

*.sublime-workspace
*.sublime-project
*.so
*.egg-info/
**/__pycache__/
trackstar/version_breakdown.py
# Cython compiler outputs
trackstar/core/*.c
# C compiler outputs
trackstar/core/src/*.o
docs/src/_build/
docs/src/api/*.rst
docs/src/clib/*.h.rst
docs/src/tutorials/.ipynb_checkpoints/*
**/trackstar.*.rst
build/
local/



